body{
margin:0;
font-family:'Instrument Sans', sans-serif;
background:#F8FAFC;
color:#0F172A;
}

.sidebar{
position:fixed;
width:220px;
height:100vh;
background:#0F172A;
color:white;
padding:30px;
}

.sidebar h2{
font-family:"Power Grotesk", sans-serif;
font-size:22px;
margin-bottom:40px;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
margin-bottom:20px;
font-weight:500;
}

.sidebar a:hover{
color:#22C55E;
}

.main{
margin-left:220px;
padding:40px;
}

.card{
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.05);
margin-bottom:20px;
}

button{
background:#22C55E;
border:none;
padding:10px 18px;
border-radius:8px;
color:white;
font-weight:600;
cursor:pointer;
}

button:hover{
background:#16A34A;
}
